/* add your CSS here */
#container
{
	border: 3px solid grey;
  	padding: 10px;
}
#card
{
	border: 1px solid grey;
  	padding: 0 5px;
}
.animal-info{
	font-style: italic;  
}
li {
	list-style: none;
}
li span {
	font-weight: bold;
}